<div class="login-form-wrapper h-100 w-100 d-flex justify-center align-center">
  <form class="login-form">
    <mat-card appearance="raised">
      <mat-card-content>
        <div class="text-center">
          <h2>Test Nest</h2>
        </div>

        <div>
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Email</mat-label>
            <input matInput type="email" />
            <mat-icon matSuffix>mail</mat-icon>
          </mat-form-field>

          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Password</mat-label>
            <input matInput type="password" />
            <mat-icon matSuffix>password_2</mat-icon>
          </mat-form-field>
        </div>

        <div class="text-center">
          <button matButton="filled" class="w-100">Login</button>
        </div>

        <mat-divider class="mt-15 mb-10"></mat-divider>

        <div class="text-center">
          <small>
            Don't have an account?
            <a class="t-link ml-5" [routerLink]="['/signup']">Signup</a>
          </small>
        </div>
      </mat-card-content>
    </mat-card>
  </form>
</div>
