.signup-form-wrapper {
  background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
}
.signup-form {
  width: 30%;
}
.multi-control-row {
  gap: 1rem;
}

.example-radio-button {
  margin: 5px;
}

@media (max-width: 1024px) {
  .signup-form {
    width: 60%;
  }
}
@media (max-width: 768px) {
  .signup-form {
    width: 80%;
  }
}
@media (max-width: 480px) {
  .signup-form {
    width: 90%;
  }
}
